.loader {
    position: absolute;
    content: '';
    top: calc(50% - 2.5rem);
    left: calc(50% + 8rem);
    width: 5rem;
    height: 5rem;
    border: 5px solid lightBlue;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.3);
    animation: spin 0.5s linear infinite;
}
.success {
    background: lightGreen;
    border-color: lightGreen;
}
.fail {
    background: #ffcccb;
    border-color: #ffcccb;
}
.loader.success::before {
    height: 7px;
    width: 2.5rem;
    position: absolute;
    top: 65%;
    left: 44%;
    background-color: green;
    transform: rotate(-45deg);
    transform-origin: 0% 50%;
    border-radius: 5px;
    animation: baseGrow 0.3s;
    content: '';
}
.loader.success::after {
    height: 7px;
    width: 1.3rem;
    position: absolute;
    top: 65%;
    left: 50%;
    background-color: green;
    transform: rotate(-135deg);
    transform-origin: -5% 55%;
    border-radius: 5px;
    animation: tipGrow 0.2s;
    content: '';
}
.loader.fail::before {
    width: 3rem;
    height: 0.5rem;
    background: darkRed;
    transform-origin: 50% 50%;
    top: calc(50% - 0.25rem);
    left: calc(50% - 1.5rem);
    transform: rotate(45deg);
    position: absolute;
    border-radius: 10px;
    animation: leftIn 0.1s linear;
}
.loader.fail::after {
    width: 3rem;
    height: 0.5rem;
    background: darkRed;
    transform-origin: 50% 50%;
    top: calc(50% - 0.25rem);
    right: calc(50% - 1.5rem);
    transform: rotate(-45deg);
    position: absolute;
    border-radius: 10px;
    animation: rightIn 0.1s linear;
}
.loader.success, .loader.fail {
    animation: pop 1.2s ease-in-out;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 5px solid blue;
    }
    100% {
        transform: rotate(360deg);
        border-top: 5px solid blue;
    }
}
@keyframes tipGrow {
    0% {
        width: 0;
        left: 0;
        top: 0;
    }
    25% {
        width: 0;
        left: 0;
        top: 0;
    }
    50% {
        top: 0%;
        left: 0%;
        width: 0;
    }
    75% {
        top: 0%;
        left: 0%;
        width: 0;
    }
    100% {
        top: 65%;
        left: 50%;
        width: 1.5rem;
    }
}
@keyframes baseGrow {
    0% {
        width: 0;
    }
    90% {
        width: 2.5rem;
    }
    100% {
        width: 2.5rem;
    }
}
@keyframes pop {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes leftIn {
    0% {
        left: 0;
        top: 0;
        width: 0;
    }
    100% {
        top: calc(50% - 0.25rem);
        left: calc(50% - 1.5rem);
        width: 3rem;
    }
}
@keyframes rightIn {
    0% {
        right: 0;
        top: 0;
        width: 0;
    }
    100% {
        top: calc(50% - 0.25rem);
        right: calc(50% - 1.5rem);
        width: 3rem;
    }
}
